#thanks{
    margin: 100px 0;
    .container{
        .thanks-content{
            display: flex;
            flex-direction: column;
            gap: 45px;
            color: #323232;
            p , span{
                font-size: 16px;
                font-weight: 400;
            }
            .title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                h1{
                    flex: 2;
                    font-size: 42px;
                    font-weight: 700;
                }
                p{
                    flex: 1;
                }
                
            }


            .cards{
                overflow-x: scroll;
                display: flex;
                justify-content: space-between;
                gap: 30px;

                .card{
                    min-width: 300px;
                    .person{
                        justify-content: center;
                        display: flex;
                        img{
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                    display: flex;
                    flex-direction: column;
                    border: 1px solid transparent;
                    border-radius: 20px;
                    gap: 20px;
                    .textbar{
                        display: flex;
                        flex-direction: column;
                        padding: 10px 30px;
                        gap: 20px;
                        h2{
                            font-size: 18px;
                            font-weight: 700;
                        }
                      span{
                        color: #58BEBF;
                      }
                    }
                }
            }
        }
    }
}